<!doctype html>
<html class="no-js" lang="en">
  <head>
  	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Data Analytics | Dashboard</title>
	<link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/foundation.css" />
	<link rel="stylesheet" href="../assets/img/foundation-icons/foundation-icons.css" />
    <script src="../assets/js/modernizr.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script src="../assets/js/vendor/angular.min_v1.2.3.js"></script> 
	<script src="../assets/js/vendor/angular-resource.min_v1.2.3.js"></script>
	<script src="../assets/js/app.js"></script>
	
	<style>
	#map_canvas{
		width:100%;
		height:25em;
	}
	</style>
	

  </head>
  <body ng-app="myApp" ng-controller="MyCtrl">
	  <!-- Header section of the App -->
	  <div class="fixed">
	    <nav class="top-bar" data-topbar>
		    <ul class="title-area">
		      <li class="name">
		        <h1 style="font-size:2em;"><a href="#">Big<span style="color:#2ba6cb">Data</span> Analytics System</a></h1>
		      </li>
			  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		    </ul>
			
			<section class="top-bar-section">
				<ul class="right">
					<li class="has-dropdown"> 
						<a href="#" data-dropdown="drop1" ><img src="../assets/img/settings-s.png"></a> 
						<ul class="dropdown">
							<li><a href="#">Account</a></li>
							<li class="divider"></li>
							<li><a href="#">Configurations</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul> 
			</section>
	    </nav>
	  </div>
	  
	  <!-- Main content section -->
	  <dl class="tabs vertical" data-tab>
	    <dd class="active"><a href="#panel1a">Competition</a></dd>
	    <dd><a href="#panel2a">Customer Relations</a></dd>
	    <dd><a href="#panel3a">Tab 3</a></dd>
	    <dd><a href="#panel4a">Tab 4</a></dd>
	  </dl>
	  <div class="tabs-content vertical" style="height:50em;">
	    <div class="content active" id="panel1a" style="width:100%; height:100%">
			<map id="map_canvas"></map>
	    </div>
	    <div class="content" id="panel2a">
			<div class="row">
				<div class="columns">
					<p>Our Customer Service Team is here for you whenever you need them.  We provide a personal touch to you data, allowing you to gather information you want and which is relevant to your business.</p>
				</div>
			</div>
	    </div>
	    <div class="content" id="panel3a">
	      <p>Panel 3 content goes here.</p>
	    </div>
	    <div class="content" id="panel4a">
	      <p>Panel 4 content goes here.</p>
	    </div>
	  </div>
	  
	  <!-- Footer section -->
	  <div class="footer" style="background-color:#fff; margin-top:2em;">
	      <div class="medium-4 medium-4 push-8 columns">
	        <ul class="inline-list right">
	            <li><a href="http://www.twitter.com/" class="twitter">
	            	<i class="fi-social-twitter" style="font-size:4em;"></i>
	            </a></li>
	            <li><a href="http://www.facebook.com/" class="facebook">
	            	<i class="fi-social-facebook" style="font-size:4em;"></i>
	            </a></li>
	            <li><a href="/contact" class="mail">
	            	<i class="fi-mail" style="font-size:4em;"></i>
	            </a></li>
	          </ul>
	       </div>
	       <div class="medium-8 medium-8 pull-4 columns">
	          <a href="#"><h1 style="font-size:2em;">Big<span style="color:#2ba6cb">Data</span> Analytics System</h1></a>
	          <ul class="inline-list">
	            <li><a href="#">About</a></li>
	            <li><a href="#">Blog</a></li>
	            <li><a href="#">News</a></li>
	            <li><a href="#">Contact</a></li>
	            <li><a href="#">Sitemap</a></li>
	         </ul>
	         <p class="copyright">&copy; 2013 BigData Analytics System, Inc. All rights reserved.</p>
	      </div>          
	  </div>
	  
	  <!-- Scripts -->
	   
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/foundation.min.js"></script>
	<script>
      $(document).foundation({
		  orbit: {
			  navigation_arrows: false,
			  slide_number: false,
			  bullets: false,
			  resume_on_mouseout: true,
			  timer_speed: 8000
		  }
      });
    </script>
  </body>
</html>