<!doctype html>
<html class="no-js" lang="en">
  <head>
  	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Data Analytics | CodeAssassins</title>
	<link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/foundation.css" />
	<link rel="stylesheet" href="../assets/img/foundation-icons/foundation-icons.css" />
    <script src="../assets/js/modernizr.js"></script>
  </head>
  <body>
	  
	  <!-- Header section of the App -->
	  <div class="contain-to-grid fixed">
	    <nav class="top-bar" data-topbar>
		    <ul class="title-area">
		      <li class="name">
		        <h1 style="font-size:2em;"><a href="#">Big<span style="color:#2ba6cb">Data</span> Analytics System</a></h1>
		      </li>
			  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		    </ul>
			
		    <section class="top-bar-section">
		      <!-- Right Nav Section -->
		      <ul class="right">
		        <li><a href="#" data-reveal-id="registerModal">Sign Up</a></li>
				<li class="divider"></li>
		        <li><a href="#" data-reveal-id="loginModal">Sign In</a></li>
		      </ul>
		    </section>
	    </nav>
	  </div>
	  
	  <!-- Main content section -->
 	  <div class="row" id="main">
		  <div class="large-12 columns">
		  	<ul class="" data-orbit>
		    	<li data-orbit-slide="headline-1" style="padding:.2em; background-image: url('../assets/img/laptop_banner-v1.png'); height:485px;">
		      	  <div class="large-12 columns" style="background-color:#2ba6cb;">
		        	  <h2 style="opacity:1;">Welcome to Big Data Analytics System!</h2>
		        	  <p style="opacity:1;">Analytic Software For Your Small Business</p>
		      	  </div>
		    	</li>
		    	<li data-orbit-slide="headline-2" style="padding:.2em; background-image: url('../assets/img/customer_service-v1.png'); height:485px;">
		      	  <div class="large-12 columns" style="background-color:#2ba6cb;">
		        	  <h2>Why use our App?</h2>
		        	  <p>Amazing Customer Service</p>
		      	  </div>
		    	</li>
		    	<li data-orbit-slide="headline-3" style="padding:.2em; background-image: url('../assets/img/social-v1.jpg'); height:485px;">
		      	  <div class="large-12 columns" style="background-color:#2ba6cb;">
		        	  <h2>How to connect!</h2>
		        	  <p>We Provide Social Media Integration</p>
		      	  </div>
		    	</li>
		    	<li data-orbit-slide="headline-4" style="padding:.2em; background-image: url('../assets/img/map_v1.png'); height:485px;">
		      	  <div class="large-12 columns" style="background-color:#2ba6cb;">
		        	  <h2>Strategize</h2>
		        	  <p>Find Your Competitors Worldwide</p>
		      	  </div>
		    	</li>
		  	</ul>
	  	  </div>
		  
		  <div class="large-8 columns">
		  	<ul class="button-group" style="margin:0; padding:0;">
				<li style="margin:0">
					<a data-orbit-link="headline-1" class="button">
		    			What are we?
		  			</a>
	  			</li>
		  		<li>
					<a data-orbit-link="headline-2" class="button">
		    			Why Us?
		  			</a>
	  			</li>
		  		<li>
					<a data-orbit-link="headline-3" class="button">
		    			Connect!
		  			</a>
	  			</li>
		  		<li>
					<a data-orbit-link="headline-4" class="button">
		    			Strategize
		  			</a>
	  			</li>
	  	  	</ul>
	  	  </div>
		  
	  	<!-- Section 2 [Description] - Start -->
	  	<div class="row">
	  		<div class="large-12 columns">
	  			<h2 class="subheader">Welcome to Big Data Analytics System</h2>
	  			<p style="color: #878585">Within a single platform we provide big data analytics solution for small to medium business.  We are a one stop shop for all your information pertaining to social and digital connections.  Our single dashboard view makes it easy to see the information you want right when you log in.</p>
	  			<div class="row">
	  				<div id="register" class="large-3 large-centered columns">
	  					<a href="#" style="display:block; padding:2em; background:#fff; text-align:center;" >Sign Up Now!</a>
	  				</div>
	  			</div>	
	  			<hr/>
	  		</div>
	  	</div>
	  	<!-- Section 2 - End -->
		  
		<!-- Section 3 [Tabed Content - Description of Services] -->
		
		
		<dl class="tabs" data-tab style="background:#fff;">
		  <dd class="active"><a href="#panel2-1">Data Analytics</a></dd>
		  <dd><a href="#panel2-2">Customer Service</a></dd>
		  <dd><a href="#panel2-3">Social Media Plugins</a></dd>
		</dl>
		<div class="tabs-content" style="background:#fff;">
		  <div class="content active" id="panel2-1">
			<div class="row">
				<div class="large-6 columns" style="margin-left:1em;">
					<p>Our Data Analytics Algorithm combined with our state of art Visualizations converts your Big Data into business critical information.</p>
				</div>
				<div class="large-5 columns right">
					<img src="../assets/img/analytics-s.jpg">
				</div>
			</div>
		  </div>
		  <div class="content" id="panel2-2">
			<div class="row">
				<div class="large-6 columns" style="margin-left:1em;">
					<p>Our Customer Service Team is here for you whenever you need them.  We provide a personal touch to you data, allowing you to gather information you want and which is relevant to your business.</p>
				</div>
				<div class="large-5 columns right">
					<img src="../assets/img/service-s.jpg">
				</div>
			</div>
		  </div>
		  <div class="content" id="panel2-3">
			<div class="row">
				<div class="large-6 columns" style="margin-left:1em;">
					<p>We gather all your Un-Structured data and convert it into business critical information.  Simply upload your transactional data or any data set and we'll turn it into something useful for your business.</p>
				</div>
				<div class="large-5 columns right">
					<img src="../assets/img/social-media-s.jpg">
				</div>
			</div>
		  </div>
		</div>
		<!-- Section 3 - End -->
	  
	  <!-- Footer section -->
	  <div class="footer" style="background-color:#fff; margin-top:2em;">
	    <div class="row">
	      <div class="medium-4 medium-4 push-8 columns">
	        <ul class="inline-list">
	            <li><a href="http://www.twitter.com/" class="twitter">
	            	<i class="fi-social-twitter" style="font-size:4em;"></i>
	            </a></li>
	            <li><a href="http://www.facebook.com/" class="facebook">
	            	<i class="fi-social-facebook" style="font-size:4em;"></i>
	            </a></li>
	            <li><a href="/contact" class="mail">
	            	<i class="fi-mail" style="font-size:4em;"></i>
	            </a></li>
	          </ul>
	       </div>
	       <div class="medium-8 medium-8 pull-4 columns">
	          <a href="#"><h1 style="font-size:2em;">Big<span style="color:#2ba6cb">Data</span> Analytics System</h1></a>
	          <ul class="inline-list">
	            <li><a href="#">About</a></li>
	            <li><a href="#">Blog</a></li>
	            <li><a href="#">News</a></li>
	            <li><a href="#">Contact</a></li>
	            <li><a href="#">Sitemap</a></li>
	         </ul>
	         <p class="copyright">&copy; 2013 BigData Analytics System, Inc. All rights reserved.</p>
	      </div>          
	    </div>
	  </div>



	<div id="loginModal" class="reveal-modal small" data-reveal>
	<h1 style="color:#0d5a72">Log In</h1>
	<form id="login-form" name="login" action="#" method="POST">
	<input type="text" id="username_login" name="username" placeholder="username" />
	<input type="password" id="password_login" name="password" placeholder="password" /> 
	<input class="right" style="background-color:#dcdcdc; color:#0d5a72; height:3em; width: 6em; font-weight:bold;" type="submit" name="login" value="Log In" onclick="authenticateUser()" />
	</form>
	</div>

	<div id="registerModal" class="reveal-modal small" data-reveal>
	<h1 style="color:#0d5a72">Register</h1>
	<form id="register-form" name="register" action="#" method="POST">
	<input type="text" id="username" name="username" placeholder="username" />
	<input type="email" name="email" placeholder="email" />
	<input type="password" id="password" name="password" placeholder="password" /> 
	<input type="password" name="conf_pass" placeholder="confirm password" />
	<input class="right" style="background-color:#dcdcdc; color:#0d5a72; height:3em; width: 6em; font-weight:bold;" type="submit" name="submit" value="Submit" onclick="createUser()" />
	</form>
	</div>

  <script src="../assets/js/jquery.js"></script>
  
  <!--This is code for Register form JSON + API Connection-->  
  <script type="text/javascript">	
	$.fn.serializeObject = function()
	{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
	};

	$(function() {
    $('#register-form').submit(function() {
        $('#result').text(JSON.stringify($('#register-form').serializeObject()));
        return false;
    });
	});
	  
	  
	  function createUser(){
	  	var encodedPassword = document.getElementById("password");
  		encodedPassword.value = window.btoa(encodedPassword.value);
  		
		var url = "http://localhost:8080/bigdata/v1/users";
		var representationOfDesiredState = JSON.stringify($('#register-form').serializeObject()); //this in our case would be JSON text
		var client = new XMLHttpRequest();

		client.open("POST", url, false);
		client.setRequestHeader("Content-Type", "application/json"); //this will also change to JSON
		client.send(representationOfDesiredState);

		if (client.status == 201)
	    	{alert("The request succeeded!\n\nNew User Created");
	    	window.location.reload();}
		else
	    	alert("The request did not succeed!");
		}
  </script>
  
  
  <!--This is code for Register form JSON + API Connection-->  
  <script type="text/javascript">	
	$.fn.serializeObject = function()
	{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
	};

	$(function() {
    $('#login-form').submit(function() {
        $('#result').text(JSON.stringify($('#login-form').serializeObject()));
        return false;
    });
	});
	  
	  
	  function authenticateUser(){
	  	var username = document.getElementById("username_login").value;
  		var encodedPassword = document.getElementById("password_login");
  		encodedPassword.value = window.btoa(encodedPassword.value);
  		
		var url = "http://localhost:8080/bigdata/v1/users/?username=" + username + "&password=" + encodedPassword.value;
		//var representationOfDesiredState = JSON.stringify($('#login-form').serializeObject()); //this in our case would be JSON text
		var client = new XMLHttpRequest();
		
		client.open("GET", url, false);
		client.setRequestHeader("Content-Type", "application/json"); //this will also change to JSON
		client.send();
		if (client.status == 200)
	    	{alert("User Authenticated");
	    	window.location.href="/bigdata/dashboard"}
		else
	    	{alert("Incorrect Username or Password!");
	    	window.location.reload();}
		}
  </script>
  
  <script src="../assets/js/foundation.min.js"></script> 
  <script>
    $(document).foundation({
    	orbit: {
    		navigation_arrows: false,
    		slide_number: false,
    		bullets: false,
    		resume_on_mouseout: true,
    		timer_speed: 8000
    	}
    });
  </script>
</body>
</html>
